<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:insert="blocks/head :: head"></head>

    <body>
        <header th:insert="blocks/header :: header"></header>

        <aside th:insert="blocks/aside :: aside"></aside>

        <main>
            <p class="display-2 font-weight-bold mx-5 mt-2">Transactions</p>

            <article>
                <div class="bd mt-5 mb-3 mt-xl-0 mb-xl-2" style="display: block; text-align: left;">
                    <table class="table table-warning table-striped mt-2">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">From account</th>
                            <th scope="col">To account</th>
                            <th scope="col">Amount</th>
                        </tr>
                        </thead>
                        <tbody th:each="el : ${transactions}">
                        <tr>
                            <th scope="row" th:text="${el.id}"/>
                            <td th:text="${el.accountFrom.id}"/>
                            <td th:text="${el.accountTo.id}"/>
                            <td th:text="${el.amount}"/>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </article>

            <button type="button" class="btn mx-4 my-2 btn-outline-warning" onclick="window.location.href = '/transactions/make';">Make transaction</button>
        </main>

        <footer th:insert="blocks/footer :: footer"></footer>
        <div th:insert="blocks/notification :: script"></div>
    </body>
</html>