<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Add bank</title>
    </head>

    <body>
        <h1>Form</h1>
        <a href="/">back to home</a><br>
        <a href="/banks">back to banks</a>
        <hr>

        <div>
            <form action="/banks/add" method="post">
                <input type="text" name="name" placeholder="Input name of bank"><br>
                <input type="text" name="percentage" placeholder="Input percentage"><br>
                <input type="submit" value="Submit"><br>
                <input type="reset"><br>
            </form>
        </div>
    </body>
</html>