<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>
<h1>Welcome to main page</h1>
<div>Status: in progress</div>
<button onclick="window.location.href = '/banks';">Banks</button>
<button onclick="window.location.href = '/banks/add';">Add banks</button><br>
<button onclick="window.location.href = '/login';">Sign in</button>
<button onclick="window.location.href = '/logout';">Sign out</button><br>
<button onclick="window.location.href = '/accounts';">Accounts</button>
<button onclick="window.location.href = '/accounts/add';">Add account</button><br>
<button onclick="window.location.href = '/registration';">Registration</button><br>
<button onclick="window.location.href = '/transactions';">Transactions</button><br>

<hr>

<button onclick="window.location.href = '/accounts/withdraw';">Withdraw money</button><br>
<button onclick="window.location.href = '/accounts/put';">Put money</button><br>
<button onclick="window.location.href = '/transactions/make';">Make transaction</button><br>
</body>

<hr>

<footer>
    Authors:
    <ul type="circle">
        <li>Kalinin Iwan</li>
        <li>Zaretskaya Mariya</li>
    </ul>
</footer>
</html>