<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Put money</title>
</head>
<body>

<h1 th:text="'Put money on account #' + ${choice}"/>

<button onclick="window.location.href = '/';">Home</button><br>
<button onclick="window.location.href = '/accounts/put';">Change account</button><br>
<hr>

<div>
    <form th:action="${choice}" method="get">
        <input type="text" name="amount" placeholder="Input amount"><br>
        <input type="submit" value="Submit"><br>
        <input type="reset" value="Reset"><br>
    </form>
</div>
</body>