<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Make transaction</title>
</head>
<body>

<h1>Make transaction</h1>
<button onclick="window.location.href = '/';">Home</button><br>
<button onclick="window.location.href = '/transactions';">Transactions</button><br>
<hr>

<div>
    <form action="/transactions/make/form" method="get">
        <input type="text" name="amount" placeholder="Input amount"><br>
        <ul th:each="el : ${accounts}">
            <input type="radio" th:id="${el.id}" name="accountFrom" th:value="${el.id}">
            <label th:for="${el.id}" th:text="${el.id}"/>
        </ul>
        <input type="text" name="accountTo" placeholder="Input account Id where to send">
        <input type="submit" value="Submit"><br>
        <input type="reset" value="Reset"><br>
    </form>
</div>
</body>